
@{
    ViewBag.Title = "GPA";
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>My Gpa</h4>
    </div>
    <div class="modal-body">
        <div>
            <h3> <strong>Your GPA is @Model  </strong></h3>
        </div>
    </div>
</div>